<!doctype html>
<html ng-app="KarelApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="style/style.css" rel="stylesheet" type="text/css">
  
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

  <script src="bower_components/lodash/lodash.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/pixi.js/bin/pixi.min.js"></script>
  <script src="bower_components/tween.js/src/Tween.js"></script>
  <script src="bower_components/ace-builds/src-noconflict/ace.js"></script>

  <script src="scripts/canvas.js"></script>

  <script src="scripts/intercode-keys.js"></script>
  <script src="scripts/lexicography.js"></script>
  <script src="scripts/analyzer-helpers.js"></script>
  <script src="scripts/syntax-analyzer.js"></script>
  <script src="scripts/evaluator.js"></script>
  <script src="scripts/mode-karel.js"></script>

  <title>Karel Compiler</title>
  <meta charset="utf-8">
</head>
<!-- <body ng-controller="KarelControllers"> -->
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="fa fa-code"></i> Karel Compiler</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container page-wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <h4><i class="fa fa-code"></i> Editor</h4>
          <!-- <textarea id="textarea" class="form-control" rows="5" ng-model="program"></textarea> -->
          <div id="editor"></div>
          <br/>
          <!-- <input type="button" value="Compile &amp; Run" class="btn btn-success btn-compile" ng-click="compile()"> -->
          <a class="btn btn-success btn-compile" onclick="compile(editor)">Compile &amp; Run</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <h4><i class="fa fa-terminal"></i> Output</h4>
          <div id="canvas-container">
            <canvas id="canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="scripts/compile.js"></script>
  
  <script>
    var editor = ace.edit('editor');
    editor.setTheme('ace/theme/monokai');
    editor.getSession().setMode('ace/mode/karel');

    var previousProgram = localStorage.getItem('karelProgram');

    if (previousProgram) {
      editor.getSession().setValue(previousProgram, -1);
    }
  </script>
</body>
</html>