.page-wrapper {
    padding-top: 75px;
}

.output {
	resize: none;
}

#editor { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 450px;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

.beeper-badge {
    margin-bottom: 8px;
    padding-left: 3px;
    padding-right: 3px;
}

.beeper {
    margin: 0px;
    padding: 0px;
    margin-left: 3px;
    float: right;
}

.main-logo {
    font-size: 1.4rem !important;
}

#errors {
    background-color: #dedede;
    padding: 3px 3px 3px 10px;
}